/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Fixed Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-brand {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #4CAF50;
}


body {
    margin-top: 40px;
}

/* Layout Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* General Page Layout */
section {
    margin: 40px 0;
}

/* Hero Section Styles */
.hero-section {
    height: 100vh;
    background-image: url('/pages/images/diabetes.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 300px; 
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}


/* About Section */
.about-section {
    padding: 60px 20px;
    background: linear-gradient(to right, #e3f2f1, #ffffff); /* Soft gradient background */
    text-align: center;
    border-top: 4px solid #4CAF50;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

.about-section p {
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.about-section .cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.about-section .cta-button:hover {
    background-color: #45a049;
}

/* Visualizations Section */

#visualizations {
    padding: 20px 20px;
    text-align: center;
}

#visualizations h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.visualization-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.visualization {
    position: absolute;
    width: 350px; 
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.visualization img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.visualization:hover {
    transform: scale(1.1) rotate(3deg);
}

.description {
    position: absolute;
    bottom: -50px; 
    left: 50%;
    transform: translateX(-50%);
    color: rgb(245, 244, 244);
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    background-color: rgba(76, 199, 113, 0.6);
    border-radius: 10px;
    width: 100%;
}

.visualization:nth-child(1) {
    top: 10%;
    left: 10%;
}

.visualization:nth-child(2) {
    top: 25%;
    left: 40%;
}

.visualization:nth-child(3) {
    top: 50%;
    left: 70%;
}

.visualization:nth-child(4) {
    top: 70%;
    left: 15%;
}

.visualization:nth-child(5) {
    top: 80%;
    left: 60%;
}





/* Features Section Styles */
.features-section {
    padding: 60px 20px;
    background-color: #ffffff;
    border-top: 4px solid #4CAF50;
    border-bottom: 4px solid #4CAF50;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.features-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    color: #333;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.feature img {
    width: 100px;
    margin-right: 30px;
}

.feature img:hover {
    transform: rotate(15deg);
}

.feature h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #4CAF50;
}

.feature p {
    font-size: 1.3rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #555;
}

/* Footer Styles */
.footer-section {
    background-color: #31475e;
    color: #ecf0f1;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.footer-branding h2 {
    font-size: 2.5rem;
    color: #27ae60;
    margin-bottom: 10px;
    text-align: center;
}

.footer-branding p {
    font-size: 1.1rem;
    color: #95a5a6;
    text-align: center;
    margin-bottom: 40px;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.footer-link {
    color: #ecf0f1;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.footer-link:hover {
    color: #27ae60;
    background-color: rgba(39, 174, 96, 0.2);
}

.footer-contact {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-contact-link {
    color: #ecf0f1;
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-contact-link i {
    margin-right: 8px;
}

.footer-contact-link:hover {
    color: #27ae60;
    transform: translateY(-3px);
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.social-link {
    color: #ecf0f1;
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
    color: #27ae60;
    transform: scale(1.1);
}

.footer-bottom {
    font-size: 1rem;
    color: #95a5a6;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #34495e;
}

/* Responsive Hero Section */

@media (max-width: 768px) {
    .hero-section {
        min-height: 250px; 
        background-position: center center;
    }
    .predict-content h1 {
        font-size: 2rem;
    }

    .predict-content p {
        font-size: 1rem;
        max-width: 90%;
    }

    .predict-section {
        min-height: 200px;
    }

    .cta-button {
        font-size: 1.2rem;
    }

    .footer-section {
        padding: 30px 20px;
    }

    .footer-branding h2 {
        font-size: 2rem;
    }

    .footer-navigation {
        flex-direction: column;
        gap: 20px;
    }

    .footer-contact {
        flex-direction: column;
        gap: 20px;
    }

    .footer-link, .footer-contact-link {
        font-size: 1.3rem;
    }

    .social-link {
        font-size: 1.5rem;
    }

    .footer-bottom {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .visualization-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .visualization-container {
        grid-template-columns: 1fr;
    }
}


/* Prediction Section for ppre-predictions */
.predict-section {
    height: 100vh;
    background-image: url('/pages/images/accurate-prediction.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.predict-content {
    background-color: rgba(0, 0, 0, 0.6);  /* Enhanced contrast for readability */
    padding: 40px 30px;
    border-radius: 15px;
    max-width: 850px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.predict-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.predict-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.predict-section .cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 30px;
}


/* Prediction Section */
.prediction-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.prediction-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.prediction-section form {
    max-width: 600px;
    margin: 0 auto;
}

.prediction-section label {
    display: block;
    font-size: 1.2rem;
    margin: 15px 0 5px;
}

.prediction-section input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #45a049;
}

/* Result Section */
.result-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #e3f2f1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-section h3 {
    font-size: 2rem;
    color: #333;
}

.result-section p {
    font-size: 1.5rem;
    color: #333;
}





/* Others */
.upload-section {
    text-align: center;
    padding: 50px;
    background-color: #e5f0f0;
}

.upload-section h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.upload-section p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    line-height: 1.6;
}


.navbar-links a:hover, .navbar-links a.active {
    color: #008fb3;
    font-weight: bold;
    border-bottom: 2px solid #008fb3;
}
